
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }
  
  .modal-bg > .modal {
    overflow: auto;
    position: relative;
    background-color: white;
    width: 60%;
    height: 90%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .modal-bg > .modal > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-bg > .modal > form > input {
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
  }
  
  .modal-bg > .modal > form > button {
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #007e87;
  }
  
  .modal-bg > .modal > .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .bg-active {
    visibility: visible !important;
    opacity: 1 !important;
  }

  .aoo:hover{
background-color: white;
  }


  
.main{
  margin: auto;
  width: 70%;
  border: 2px solid;
  text-align: center;
}
.main1{
  margin: auto;
  width: 70%;
  text-align: center;
}
.heading{
  padding: 20px;
  text-align: center;
}
.attendence{
  text-align: center;
}
.table1{
  display: flex;
  justify-content: space-around;
  background-color: #006633;
  color: white;
}
.table2{
  display: flex;
  justify-content: space-around;

}
.divbtn{
  padding: 10px;
}
.btn{
  width: 140px;
  height: 40px;
  background-color: #006633 !important;
  color: white !important;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.btn:hover{
  background-color: white !important;
  color: #006633 !important;
  border: 1px solid #006633;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 18px;
  width: 50px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #006633;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}